<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Test">
		<classes>
			<class name="infosys.TestCi2">
				<methods>
					<include name="a" />
				</methods>
			</class>
			<class name="infosys.testCl">
				<methods>
					<include name="abc" />
				</methods>
			</class>

		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
